.schedule {
	background-color: $brand-primary;
	color: $color-white;
	text-align: center;

	h1 {
		margin-bottom: $padding-y;
		color: $color-white;
		font-size: 1.5rem;
		letter-spacing: 0;

		span {
			background-color: transparent;
		}

		// line
		&::before,
		&::after {
			content: none;
		}
	}

	h2 {
		text-transform: uppercase;
		color: $color-white;
	}

	p {
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

	small {
		display: block;
	}

	.rules {
		max-width: 565px;
		margin-right: auto;
		margin-left: auto;
		padding-left: $padding-x * 2/3;
		text-align: left;

		li {
			margin-bottom: $padding-x / 3;
		}
	}
}

.event thead time[datetime='2020-03-15T10:45:00-07:00'],
.event thead time[datetime='2020-03-22T10:45:00-07:00'] {
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		background-image: url('/media/images/cancelled.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		transform: rotate(-45deg);
		content: "";
	}
}
