<section id="contact" class="contact">
	<div class="frame">
		<div class="director"><img src="{{ site.github.url }}/{{ site.data.contact.director.image }}" /></div>
		<h2>{{ site.data.contact.director.name }}</h2>
		<h3>{{ site.data.contact.director.position }}</h3>
		<a id="email-footer" class="email" href="mailto:{{ site.data.contact.email }}"><svg class="icon icon-email"><use xlink:href="#email-icon"></use></svg> {{ site.data.contact.email }}</a>
		<address>
			{{ site.meta.title }}<br />
			{{ site.data.contact.address.street }}<br />
			{{ site.data.contact.address.city }}, {{ site.data.contact.address.state }} {{ site.data.contact.address.zip }}
		</address>
		{% include social.html location="contact" class="btn" %}
	</div>
</section>
