<section id="schedule">
	<h2>2016 Schedule</h2>
	<p>All games are scheduled to be played at Lion's Field which is located in Fullerton at the intersection of Lemon Street
		and Brea Boulevard next to Hillcrest Park.</p>
	<p>Gates open at 10:30 AM. Players should be on the field by 10:45 AM.  Games will start on time at 11 AM.</p>

	<a href="">Get Directions</a>
	<a href="">Download <abbr title="Portable Document Format">PDF</abbr></a>
	<a href="">Add to Calendar</a>


	{% for event in site.data.schedule %}
		<table>
			<thead>
				<tr>
					<th>Away</th>
					<th><time datetime="{{ event.date }}">{{ event.date | date: "%B %-d, %Y" }}</time></th>
					<th>Home</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3">Games will start on time.</td>
				</tr>
			</tfoot>
			<tbody>
				{% for game in event.games %}
					<tr>
						<td>{{ game.visitor }}</td>
						<td>Field #{{ forloop.index }} <time>10:45 AM</time></td>
						<td>{{ game.home }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}

	<h3 id="schedule-rules">Rules</h3>
	<p>There are no rainouts on these fields and games will be played rain or shine.  Lightning, or other unsafe conditions, however, will be grounds for cancellation.  <span>(Please use discretion if your player doesn't want to play in wet conditions.)</span></p>
	<p>Home team will use the 3rd base dugout.  Drinks other than water are <strong>NOT</strong> allowed on the field.  Sunflower seeds are <strong>NOT</strong> allowed on the premises</p>
</section>
