<div id="alert" class="alert">
	<div class="frame">
		<h2>It's time for registration!!!</h2>
		<p>Please download the <a href="/2017-mlnoc-registration-form.pdf" download="Miracle League 2017 Registration.pdf">registration form</a> and mail it along with payment to the address at the bottom of the form <br /><strong>no later than <time datetime="2017-02-20">February 20th</time></strong>!</p>
	</div>
</div>
<header id="header" class="header">
	<div class="frame">
		<h1><svg class="logo"><use xlink:href="#logo"></use></svg></h1>
		<div class="wrapper">
			{% include navigation.html %}
			{% include social.html location="nav" %}
		</div>
	</div>
</header>
