<div id="alert" class="alert">
	<div class="frame">
		<h2>Coronavirus update</h2>
		<p>Due to the growing concerns over the Coronavirus, we are cancelling the next two games of our season, March 15th &amp; 22nd. While we have had no reports of anyone associated with the league being exposed to the virus, we are pausing out of an abundance of caution.</p>
		<p>Chip Rathmell, League Director</p>
	</div>
	<!--
	<div class="frame">
		<h2>It's time for registration!!!</h2>
		<p>Please download the <a href="/media/docs/2020-mlnoc-registration.pdf" download="Miracle League 2020 Registration.pdf">registration form</a> and mail it along with payment to the address at the bottom of the form <br /><strong>no later than <time datetime="2019-02-10">February 10th</time></strong>!  Looking to support our amazing organzation?  Download the <a href="/media/docs/2020-mlnoc-fundraiser-form.pdf" download="Miracle League 2020 Fundraiser Form.pdf">fundraiser form</a>.</p>
	</div>
	-->
</div>
<header id="header" class="header">
	<div class="frame">
		<h1><svg class="logo"><use xlink:href="#logo"></use></svg></h1>
		<div class="wrapper">
			{% include navigation.html %}
			{% include social.html location="nav" %}
		</div>
	</div>
</header>
