<section id="sponsors" class="sponsors">
	<div class="frame">
		<h1 class="diamond"><span>{{ site.data.sponsors.title }}</span></h1>

		<div class="row">
			<div class="col-xs-12">
				<h3>Ever wondered how you can help this amazing non-profit organization?</h3>
				<p>Please join our team and become a sponsor.  Download the <a href="media/docs/fundraiser-form.pdf" download="Miracle League 2018 Fundraiser Form.pdf">fundraiser form</a> and contribute with a tax-deductible donation!</p>
			</div>
		</div>
		<ul class="row list-unstyled text-center">
			{% for sponsor in site.data.sponsors.companies %}
				{% if sponsor.active %}
					<li class="col-xs-6 col-sm-3 col-md-4 item">
						<a href="{{ sponsor.url }}"><span style="background-image: url({{ site.github.url }}{{ sponsor.image.url }});"></span></a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>

		<ul class="row list-unstyled text-center">
			{% for sponsor in site.data.sponsors.individuals %}
				<li class="col-xs-12 col-md-6 col-lg-4">{{ sponsor }}</li>
			{% endfor %}
			{% for sponsor in site.data.sponsors.friends %}
				<li class="col-xs-12 col-md-6 col-lg-4">{{ sponsor }}</li>
			{% endfor %}
		</ul>
		<h3 class="text-center">A special thanks to those who contribute and make the Miracle League of North Orange County great!</h3>
		<ul class="row list-unstyled text-center">
			{% for member in site.data.board %}
				{% assign position = member[0] | replace: '-', ' ' | downcase  %}
				<li class="col-xs-12 col-md-6 col-lg-4"><strong class="text-capitalize">{{ position }}</strong>: {{ member[1] }}</li>
			{% endfor %}
		</ul>
	</div>
</section>
