$brand-primary: rgb(0, 114, 187);
$brand-secondary: rgb(255, 159, 18);

$color-header: rgb(0, 0, 0);
$color-body: rgb(105, 105, 105);
$color-grey: rgb(62, 62, 62);
$color-lightgrey: rgb(184, 184, 184);
$color-white: rgb(255, 255, 255);
$color-success: rgb(30, 188, 2);
$color-facebook: rgb(59, 89, 152);
$color-twitter: rgb(0, 172, 237);
$color-instagram: rgb(18, 86, 136);

$padding-x: 30px;
$padding-y: 15px;

$font-primary: 'Open Sans', sans-serif;

$frame: 1024px;
